/*
 * Common
 */

.actions {
  padding-top: 2em;
}

  .actions p {
    color: #787878 !important;
    cursor: auto;
    display: inline-block;
    font-weight: 400;
    height: calc(2.75em + 6px);
    line-height: 2.75em;
    padding-right: 1.5em;
    padding-top: 3px;
    text-align: left;
    margin-bottom: 0px;
  }

  .actions .only-small p {
    padding-right: 0;
    padding-left: 0;

    text-align: center;
  }

.center {
  text-align: center;
}

.item-title {
  display: inline;
  /*font-weight: bold*/
}

.item-subtitle {
  /*display: inline;*/
  text-transform: uppercase;
  font-size: 0.9em;
}

.logo {
  position: relative;
  padding-top: 5em;
  max-width:11em;
  margin: 0 auto 1em !important;
}

  .logo img {
    border-radius: 0;
  }

.nodisplay {
  display: none;
}

.row {
  margin-bottom: 1em;
}

h1.section-title {
  margin: 0 0 0 0;
}

/*
 * Header
 */

#header-caption {
	z-index: 9;
	position: absolute;
  text-align: left;
  margin-top: 1em;
  margin-left: 1em;
}

	#header-caption i,
    #header-caption a,
    #header-caption a:hover {
		color: #ffffff;
    font-size: 1em;
    text-decoration: none;
	}

    #header-caption i {
      font-size: 0.9em;
    }

    #header-caption span {
      color: #d2d0d2;
      font-size: 0.9em;
    }

/*
 * Skills
 */
.bigicon {
	text-align: center;
}

  .bigicon span {
    margin-top: 0.1em;
    color: #49bf9d;
    cursor: default;
  }

.smallicon {
  color: #49bf9d;
  margin-right: 1em;
}

.small-skills-icon {
  font-size: 0.9em;
  margin-right: 0.4em;
}

.table-skills {
  display: none;
}

.skill-slider-triggerer {
  margin-bottom: 3em;
}

.skill-desc {
  margin-bottom: 1em;
}

#skills table tbody tr td:nth-child(2) {
  text-align: right;
  white-space: nowrap;
}

/*
 * Work
 */

.work-desc {
  margin-bottom: 0.8em;
}

.logo:before {
  opacity: 0;
}

/*
 * Contact
 */

#contact .icon {
  cursor: default;
}

/* Hackgyver poptrox */

.image.fit.player-wrapper {
  /*float: inherit;*/
  /*width: 100%;*/
  /*height: 26em;*/
}
