/*New York by default ;-)*/
#header {
  background-image: url("images/overlay.png"), url("../images/bg/newyork_1.jpg");
}

.skill-slider-triggerer {
  display: none;
}

.table-skills {
  display: table;
}

#contact-form-wrapper {
  display: none;
}

#contact-link-wrapper {
  display: block;
}
