/* Open Sans font */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans-light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/opensans-semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans-bold.woff) format('woff');
}

article small {
	font-weight: bold;
	font-size: 0.9em;
	color: #888888;
}

.fa.featured.skills {
	color: #61b8db;
}

.fa.featured.misc {
	color: #50021B;
}

ul.social li.mail:hover { 
	background-color: #fabd71; 
}

.modal {
  margin-top: 1.85em;
}

/* Programming skills modal */
#tableProgSkills td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* HackGyver modal */
.img-align-right{
  display: inline;
  float: right;
  height: 200px;
  width: 200px;
  margin-left: 30px;
}

@media (max-width: 360px) {
  .img-align-right{
    height: 100px;
    width: 100px;
    margin-left: 10px;
  }
}

/* Travels modal */
#map {
  height:400px;
}

/* Privacy */
#piwik {
  height: 200px;
  width: 560px;
}

@media (max-width: 360px) {
  #piwik {
    height: 305px;
    width: 280px;
  }
}

/* nav padding top on mobile */
@media (max-width: 360px) {
  .wrapper-first {
    padding-top: 7em;
  }
  
  .modal {
    margin-top: 4.85em;
  }
}
