/*
 * Source Sans Pro from main.css
 */

/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular-viet.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(../fonts/SourceSansPro-It-viet.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(../fonts/SourceSansPro-It-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(../fonts/SourceSansPro-It-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
 * Common
 */

.actions {
  padding-top: 2em;
}

  .actions p {
    color: #787878 !important;
    cursor: auto;
    display: inline-block;
    font-weight: 400;
    height: calc(2.75em + 6px);
    line-height: 2.75em;
    padding-right: 1.5em;
    padding-top: 3px;
    text-align: center;
    margin-bottom: 0px;
  }

  .actions .only-small p {
    padding-right: 0;
    padding-left: 0;

    text-align: center;
  }

.center {
  float: inherit;
  text-align: center;
}

.item-title {
  display: inline;
  /*font-weight: bold*/
}

.item-subtitle {
  /*display: inline;*/
  text-transform: uppercase;
  font-size: 0.9em;
}

.logo {
  position: relative;
  padding-top: 2.5em;
  max-width:11em;
  margin: 0 auto 1em !important;
}

  .logo img {
    border-radius: 0;
  }

.nodisplay {
  display: none;
}

.row {
  margin-bottom: 1em;
}

h1.section-title {
  margin: 0 0 0 0;
}

/*
 * Header
 */
#header {
  background-image: none;
}

#header-caption {
	z-index: 9;
	position: absolute;
  text-align: left;
  margin-top: 1em;
  margin-left: 1em;
}

	#header-caption i,
    #header-caption a,
    #header-caption a:hover {
		color: #ffffff;
    font-size: 1em;
    text-decoration: none;
	}

    #header-caption i {
      font-size: 0.9em;
    }

    #header-caption span {
      color: #d2d0d2;
      font-size: 0.9em;
    }

/*
 * Skills
 */
.bigicon {
	text-align: center;
}

  .bigicon span {
    margin-top: 0.1em;
    color: #49bf9d;
    cursor: default;
  }

.smallicon {
  color: #49bf9d;
  margin-right: 1em;
}

.small-skills-icon {
  font-size: 0.9em;
  margin-right: 0.4em;
}

.table-skills {
  display: none;
}

.skill-slider-triggerer {
  margin-bottom: 3em;
  margin-right: 0.8em;
}

.prog-skills-link {
  margin-left: 0.3em;
}

  .prog-skills-link span {
    font-size: 1.1em;
  }

.skill-desc {
  margin-bottom: 1em;
}

#skills table tbody tr td:nth-child(2) {
  text-align: right;
  white-space: nowrap;
}

/*
 * Work
 */

.work-item-desc-container {
  margin-bottom: 2em;
}

.work-desc {
  margin-bottom: 0.8em;
}

.logo:before {
  opacity: 0;
}

/*
 * Contact
 */

#contact .icon {
  cursor: default;
}

  #contact a.button {
    cursor: pointer;
  }

#contact-link-wrapper {
  display: none;
}

/* Hackgyver slider */

.image.fit.player-wrapper {
  height: 26em;
}
