article small {
	font-weight: bold;
	font-size: 0.9em;
	color: #888888;
}

.fa.featured.skills {
	color: #61b8db;
}

.fa.featured.misc {
	color: #50021B;
}

ul.social li.mail:hover { 
	background-color: #fabd71; 
}

.modal {
  margin-top: 1.85em;
}x²w

/* Programming skills modal */
#tableProgSkills td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

/* Travels modal */
#map {
  height:400px;
}

/* nav padding top on mobile */
@media (max-width: 360px) {
  .wrapper-first {
    padding-top: 7em;
  }
  
  .modal {
    margin-top: 4.85em;
  }
}
