article small
{
	font-weight: bold;
	font-size: 0.9em;
	color: #888888;
}

.fa.featured.skills
{
	color: #61b8db;
}

.fa.featured.misc
{
	color: #EA8A95;
}

ul.social li.mail:hover					{ background-color: #fabd71; }
