article small
{
	font-weight: bold;
	font-size: 0.9em;
	color: #888888;
}

.fa.featured.skills
{
	color: #61b8db;
}

.fa.featured.misc
{
	color: #50021B;
}

ul.social li.mail:hover 
{ 
	background-color: #fabd71; 
}

.modal
{
  margin-top: 70px;
}

/* Programming skills modal */

#modalProgSkills
{
  width:500px;
}

#tableProgSkills td
{
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

#modalHackGyverBody
{
  width:auto;
}

/* Travels modal */

#map
{
  height:400px;
  width:600px;
}

/* .modal-dialog {
  width:100%;
  left:0;
  right:0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left:0;
} */

div.olControlAttribution { bottom:3px; }