/* Home */

.logo img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

#header .content .inner {
    padding: 2em;
}

#bubbles {
    margin: 0 0 1rem 0;
}

#bubbles ul {
    margin: 0 0 0 0;
    padding-bottom: 1rem;
}

#bg_date {
    margin-right: 0.3rem;
}

/* Common */

.header-justify {
    display: flex;
    justify-content: space-between;
}

.header-justify p {
    line-height: 2.3;
}

/* Work */

p.followed-by-list {
    margin-bottom: 0px;
}

.work-date {
    display: block;
    margin-bottom: 0.5em;
    /* font-style: italic; */
}

