/* Home */

.logo img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

#header .content .inner {
    padding: 2em;
}

#bubbles {
    margin: 0 0 1rem 0;
}

#bubbles ul {
    margin: 0 0 0 0;
    padding-bottom: 1rem;
}

#bg_date {
    margin-right: 0.3rem;
}

/* Common */

.header-justify {
    display: flex;
    justify-content: space-between;
}

.header-justify p {
    /* line-height: 2.3; */
}

.item-logo-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.item-logo-inner {
    width: 5rem;
}

.item-details {
    /* display: block; */
    margin-bottom: 0.5em;
}

.item-details i {
    display: inline-block;
    width: 1rem;
    text-align: center;
    margin-right: 0.5rem;
}

/* Work */

p.followed-by-list {
    margin-bottom: 0px;
}

