/* Home */

.logo img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

ul.icons {
    margin-bottom: 0;
}

/* Common */

.header-justify {
    display: flex;
    justify-content: space-between;
}

.header-justify p {
    line-height: 2.3;
}

/* Work */

p.followed-by-list {
    margin-bottom: 0px;
}

.work-date {
    display: block;
    margin-bottom: 0.5em;
    /* font-style: italic; */
}

