name: CI

on: pull_request

jobs:
  test-go:
    name: Build and test Go code
    runs-on: ubuntu-latest
    container: golang:alpine

    steps:
      - name: Install dependencies
        run: apk add gcc imagemagick-dev make musl-dev pkgconfig

      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Build
        run: make imgen

      - name: Run tests
        run: go test ./...

  lint-go:
    runs-on: ubuntu-latest
    name: Lint Go Code
    container: golangci/golangci-lint:latest-alpine

    steps:
      - name: Install dependencies
        run: apk add gcc imagemagick-dev musl-dev pkgconfig tar

      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Add path to git safe directories
        run: git config --global --add safe.directory $(pwd)

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          install-mode: none
